@import url('./landing.css');
@import url('./items.css');
@import url('./search.css');
@import url('./media.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-text-logo {
    padding: 10px;
}

.main-text-logo:hover {
    background-color: #0b4a92;
}

.text-about {
    line-height: 2em;
    text-align: justify;
    width: 100%;
}